<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conditions générales d'utilisations</title>
    <link rel="stylesheet" href="{{ asset('Stylesheet.css') }}">
</head>
<body>
    <nav class="navbar1">
        <div class="nav-links1">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="CV">Curriculum vitae</a></li>
                <li><a href="Portfolio">Portfolio</a></li>
            </ul>
        </div>
    </nav>
    <div class="CGU">
        <h1>CGU</h1>
        <h2>ARTICLE 1 : OBJET</h2>
        <p>Les présentes « conditions générales d’utilisation » ont pour objet l’encadrement juridique des modalités de mise à disposition des services du site portfolio et leur utilisation par « Admin »
            Les conditions générales d’utilisation doivent être acceptées par tout utilisateur souhaitant accèder au site.
            L’accès au site par l’utilisateur signifie son acceptation des présentes conditions générales d’utilisation.
            En cas de non-acceptation des conditions générales d’utilsation stipulée dans le présent contrat, l’utilisateur se doit de renoncer à l’accès des services proposés par le site.
        </p>
        <h2>ARTICLE 2 : MENTIONS LEGALES</h2>
        <p>Vous pouvez accèder aux Mentions Légales</p>
        <h2>ARTICLE 3 : DEFINITIONS</h2>
        <p>La présente clause a pour objet de définir les différents termes essentiels du contrat :
            •	Utilisateur : ce terme désigne toute personne qui utlise le site ou l’un des services proposés par le site.
            •	Membre : L’utilisateur devient membre lorsqu’il est identifé sur le site
            •	Identifiant et mot de passe : C’est l’ensemble des informations nécessaires à l’identification d’un utilisateur sur le site.
            L’utilisateur et le mot de passe permettent a l’utilisateur d’accèder à des services réservés aux membres du site, le mot de passe reste confidentiel et peu être renouvelé à la demande.
        </p>
        <h2>ARTICLE 4 : ACCES AUX SERVICES</h2>
        <p>L’utilisateur non membre n’a pas d’accès aux services réservés aux membres.
            Pour cela, il doit s’identifier à l’aide de son identifiant et de son mot de passe.
            Le site met en oeuvre tous les moyens mis à sa disposition pour assurer un accès de qualité à ses services.
            L’obligation étant de moyens, le site ne s’engage à atteindre ce résultat.
            Tout événement dû à un cas de force majeure ayant pour conséquence du dysfonctionnement du réseau ou du serveur n’engage pas la responsabilité de Allan VEMY
            L’accès aux services du site peut à tout moment faire l’objet d’une interruption, d’une suspension, d’une modification sans préavis pour une maintenance ou pour tout autre cas.
            L’utilisateur s’oblige à ne pas réclamer aucune indemnisation suite à l’interruption, à la suspension ou à la modification du présent contrat.
        </p>
        <h2>ARTICLE 5 : PROPRIETE INTELLECTUELLE</h2>
        <p>Les marques, logos, signes et tout autre contenu du site font l’objet d’une protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d’auteur.
            L’utilisateur sollicite l’autorisation préalable du site pour toute reproduction, publication, copie des différents contenus.
            L’utilisateur s’engage à une utilisation des contenus à des fins commerciales est strictement interdite.
            Tout contenu mis en ligne par l’utilisateur est de sa seule responsabilité, l’utilisateur s’engage à ne pas mettre en ligne de contenus pouvant porter atteinte aux intérêts de tierces personnes.
            Tout recours en justice engagé par un tiers lésé contre le site sera pris en charge par l’utilisateur.
            Le contenu de l’utilisateur peut être à tout moment et pour n’importe quelle raison supprimé ou modifié par le site.
            L’utilisateur ne reçoit aucune justification et notification préalablement à la suppression ou à la modification du contenu utlisateur.
        </p>
        <h2>ARTICLE 6 : DONNEES PERSONNELLES</h2>
        <p>Les informations demandées à l’inscription du site sont nécessaires et obligatoires pour la création du compte de l’utilisatuer.
            En particulier, l’adresse électronique pourra être utilisée par le site pour l’administration, la gestion et l’animation du service.
            En vertu des articles 48 et suivants de la loi n°78-17 relative a l’informatique, aux fichiers et aux libertés en date du 6 Janvier 1978, réécrite par l’ordonnance n°2018-1125 du 12 Décembre 2018 applicable au 1er Juin 2019, l’utilisateur dispose d’un droit d’accès, de rectification, de suppression et d’opposition de ses données personnelles.
        </p>
        <h2>ARTICLE 7 : RESPONSABILITE ET FORCE MAJEURE</h2>
        <p>Les sources des informations diffusées sur le site sont réputées fiables.
            Toutefois, le site se réserve la faculté d’une non-garantie de la fiabilité des sources.
            Les informations données sur le site sont à titre purement informatif.
            Ainsi, l’utilisateur assume seul l’entière responsabilité de l’utilisation des informations et contenus du présent site.
            L’utilisateur s’assure de garder son mot de passe secret.
            Toute divulgation du mot de passe, quelle que soit sa forme, est interdite.
            L’utilisateur assume les risques liés à l’utilisation de son identifiant et mot de passe.
            Le site décline toute responsabilité.
            Tout usage du service par l’utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l’objet d’une indemnisation au profit du site.
            Une garantie optimale de la sécurité et de la confidentialité des données transmises n’est pas assurée par le site.
            Toutefois, le site s’engage à mettre en oeuvre tous les moyens nécessaires afin de garantir au mieux la sécurité et la confidentialé des données.
            La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d’un tiers.
        </p>
        <h2>ARTICLE 8 : LIENS HYPERTEXTES</h2>
        <p>De nombreux liens hypertextes sortants sont présents sur le site, cependant les pages ou mènent ces liens n’engagent en rien la responsabilité de Allan VEMY qui n’a pas le contrôle des liens.
            L’utilisateur s’interdit donc à engager la responsabilité du site concernant le contenu et les ressources relatives à ces liens hypertextes sortants.
        </p>
        <h2>ARTICLE 9 : EVOLUTION DU CONTRAT</h2>
        <p>Le site se réserve à tout moment le droit de modifier les clauses stipulées dans le présent contrat</p>
        <h2>ARTICLE 10 : DUREE</h2>
        <p>La durée du présent contrat est indéterminée, le contrat produit ses effets à l’égard de l’utilisateur à compter de l’utilisation du service.

        </p>
</body>



























<style>
    .navbar1 {
        padding: 50px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        margin-top: -25px;
    }
    .navbar1 a {
        color: black;
        text-decoration: none;
        margin-left: -6px;
        transition: color 0.5s;
    }
    .navbar1 a:hover {
        color : #ff1648;
    }
    .navbar1 .nav-links1 ul{
        display: flex;
        padding: 30px 20px;
        border: 1px solid rgba(255,255,255,0.3);
        margin-left: -36px;
        margin-top: -7px;
        background: rgba(255,255,255,0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0,0,0,0.1);
        backdrop-filter: blur(5px);
    }
    .navbar1 .nav-links1 ul li{
        margin: 0 25px;
        list-style: none;

    }
</style>
</html>
